In [36]:
# From the below dictionary, do the following tasks
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [37]:
# 1.access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [38]:
# 2. access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [39]:
# 3. change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]= "Mahesh kumar"
print(dict1)

{'april_batch': {'student': {'name': 'Mahesh kumar', 'marks': {'python': 80, 'maths': 70}}}}

In [40]:
# 4.add ML = 80 and DL = 80 inside marks
dict2 =dict1["april_batch"]["student"]["marks"]
print(dict2)

{'python': 80, 'maths': 70}

In [41]:
#adding "ML" =80
dict2["ML"]= 80
print(dict2)

{'python': 80, 'maths': 70, 'ML': 80}

In [42]:
#adding "DL" =80
dict2["DL"] = 80
print(dict2)

{'python': 80, 'maths': 70, 'DL': 80, 'ML': 80}

In [43]:
print(dict1)

{'april_batch': {'student': {'name': 'Mahesh kumar', 'marks': {'python': 80, 'maths': 70, 'DL': 80, 'ML': 80}}}}