In [24]:
#Task 3
# 1) remove()
L3 = [2.5,3.5,4,5.5,6.5]
L3.remove(4)
L3

[2.5, 3.5, 5.5, 6.5]

In [25]:
L4 = ['hen','ten','pen']
L4.remove('hen')
L4

['ten', 'pen']

In [26]:
# 2) count()
List = [1,2,3,2,5,2,4,8,2,6]
List.count(2)

4

In [27]:
List1 = ['a','b','c','d','c','h','c','e']
List1.count('c')

3

In [28]:
# 3) sort()
L5 = [2,3.5,2.5,5,1,4.5]
L5.sort()
L5

[1, 2, 2.5, 3.5, 4.5, 5]

In [29]:
L6 = ['d','e','a','c','b']
L6.sort()
L6

['a', 'b', 'c', 'd', 'e']

In [30]:
# 4) reverse()
L7 = [1,2,3,4,5]
L7.reverse()
L7

[5, 4, 3, 2, 1]

In [31]:
L8 =['a','b','c','d']
L8.reverse()
L8

['d', 'c', 'b', 'a']

In [32]:
# Task 4
# 1.
# Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
my_l1 = l1[2][2]
my_l1.insert(2,70)
my_l1

[50, 60, 70]

In [33]:
print(l1)
#output

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [34]:
# 2.
#add sublist [7,8]
#input
l2 = [1,2,[3,4,5,6],9]
my_l2 = l2[2]
my_l2.insert(4,[7,8])
my_l2

[3, 4, 5, 6, [7, 8]]

In [35]:
print(l2)
#output

[1, 2, [3, 4, 5, 6, [7, 8]], 9]