In [52]:
# Add and Remove of elements in tuple( workaround to modify)
#example 1
tup1 = (1,2,3,4)
#converting tuple to list
list1 = list(tup1)
print(list1)

[1, 2, 3, 4]

In [53]:
# using append() adding elements
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [54]:
#converting list to tuple
tup1 = tuple(list1)
print(tup1)

(1, 2, 3, 4, 5)

In [55]:
# using pop() removing elements
tup1

(1, 2, 3, 4, 5)

In [56]:
#converting tuple to list
list2 = list(tup1)
print(list2)

[1, 2, 3, 4, 5]

In [57]:
list2.pop(0)
print(list2)

[2, 3, 4, 5]

In [58]:
#coverting list to tuple
tup1 = tuple(list2)
print(tup1)

(2, 3, 4, 5)

In [59]:
#example 2
tup = ('Lion','Tiger','Giraffe','Dog')
#converting tuple to list
list1 = list(tup)
print(list1)

['Lion', 'Tiger', 'Giraffe', 'Dog']

In [60]:
# using append() adding elements
list1.append('Elephant')
print(list1)

['Lion', 'Tiger', 'Giraffe', 'Dog', 'Elephant']

In [61]:
#converting list to tuple
tup = tuple(list1)
print(tup)

('Lion', 'Tiger', 'Giraffe', 'Dog', 'Elephant')

In [62]:
# using pop() removing elements
tup

('Lion', 'Tiger', 'Giraffe', 'Dog', 'Elephant')

In [63]:
#converting tuple to list
list2= list(tup)
print(list2)

['Lion', 'Tiger', 'Giraffe', 'Dog', 'Elephant']

In [64]:
list2.pop(3)
print(list2)

['Lion', 'Tiger', 'Giraffe', 'Elephant']

In [65]:
#converting list to tuple
tup = tuple(list2)
print(tup)

('Lion', 'Tiger', 'Giraffe', 'Elephant')